<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aki.demo.dao.TestObjectMapper">
    <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache"/>
    <resultMap id="testObjectMap" type="cn.aki.demo.entity.TestObject" autoMapping="true"/>

    <select id="list" resultMap="testObjectMap">
        SELECT id,varchar_value,boolean_value,text_value,create_time FROM test_object
    </select>
</mapper>